body
{
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    margin: 0;
    padding: 150px 0 55px 0;
    background: #EFEFF2;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #00AEF0;
}
#header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px ridge #ED9D47;
    background: #3D3D3D;
    z-index: 1000;
    opacity: 0.8;
}
#footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-top: 3px ridge #ED9D47;
    background: #3D3D3D;
    z-index: 1000;
    opacity: 0.8;
}
#body {
    margin: 0 auto;
    padding: 25px;
    width: 800px;
    background-color: #FF9105;
    background-color: rgba(255, 184, 59, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#footer .container {
    width: 950px;
    margin: 0 auto;
    height: 100%;
}